<div class="jumbotron">
	<div class="container">
		<% unless user_signed_in? %>
			<h2>ยินดีต้อนรับ</h2>
			<p>สมัครสมากชิกรับทันทีส่วนลด 10 %</p>
			<%= link_to 'สมัครสมากชิก', new_user_registration_path, class: "btn btn-primary" %>
		<% end %>
		
		<% if user_signed_in? %>
			<h2><%= "WELCOME  #{current_user.name}" %></h2>
		<% end %>
</div>
</div>


